@model BookAPI.Models.BookAPIDb
@{
    ViewData["Title"] = "Details";
}

<div class="card mb-3">
  <h3 class="card-header">@Model.Title</h3>
  <div class="card-body text-center" >
    <img src="@Model.Image" width="100px" height="150px" />
  </div>
  
  <div class="card-body">
    <p class="card-text">@Model.Description</p>
  </div>
  @*<ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>*@
  <div class="card-body"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
      <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
    </svg>@Model.Price</div>
  <div class="card-body">
    <a  class="btn btn-primary">Book</a>
    <a  class="btn btn-success" asp-controller="Book" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a  class="btn btn-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    <a asp-controller="Book" asp-action="Index" class="btn btn-dark">Back</a>
  </div>
  <div class="card-footer text-muted">
    Uploaded On : @Model.createdTime.ToShortDateString()
  </div>
</div>