@model IEnumerable<BookAPI.Models.BookAPIDb>

@{
    ViewData["title"] = "Books";
}


<div class="row">
    <div class="col">
        <h1 class="col">Available Books</h1>
    </div>
    <div class="col text-end">
        <a  class="btn btn-success" asp-controller="Book" asp-action="Create"><i class="bi bi-plus-lg"></i>&nbsp&nbsp Add</a>
    </div>
</div>
<hr/>


<div class="container row  text-center m-3">
@foreach(var book in Model){
    
        <div class="card text-white bg-secondary m-3" style="max-width: 16rem; height: 28rem">
            <a style="text-decoration:none;" asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                <div class="card-header"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
      <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
    </svg>@book.Price</div>
                <div class="card-body mt-0">
                    <h4 class="card-title">@book.Title</h4>
                     <img src="@book.Image" alt="@book.Title"  width="100px" height="150px">
                </div>
                <div>
                    <span>Author : @book.Author</span>
                </div>
                <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary text-center mb-1 mt-auto">Update</a>
            </a>
        </div>
}
</div>